
<div class="title">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 text-center"><img class="logo" src="../../assets/logo_white.png" alt="Alternate Text" /></div>
      <div class="col-9 pt-2">CHƯƠNG TRÌNH GIAO NHẬN KẾ HOẠCH NĂM 2021</div>
    </div>
  </div>
</div>

<div class="content text-center">
  <div class="title-text">
    BIÊN BẢN GIAO - NHẬN KẾ HOẠCH NĂM 2021
  </div>
  <div class="title-branch">
    KHỐI CÔNG NGHỆ THÔNG TIN
  </div>
  <!--<div class="title-point">
    MỤC TIÊU TRỌNG TÂM
  </div>-->
  <div class="sub-content">
    <div class="text-left">
      <ul class="m-0">
        <li>Lợi nhuận trước thuế đạt … tỷ</li>
        <li>Cải thiện chỉ số sinh lời</li>
        <li>Chuẩn hóa và triển khai đồng bộ Phương pháp Giao – đánh giá KH theo BSC – KPIs/KRs</li>
        <li>Tối ưu các chỉ số an toàn hoạt động </li>
      </ul>
    </div>
  </div>
  <div class="text-center div-btn">
    <button class="btn-start">Xem chi tiết</button>
  </div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-6">
        <div class="text-black">BÊN NHẬN</div>
        <div class="text-bold">Ô. TRẦN THÁI BÌNH</div>
        <div class="text-bold">GIÁM ĐỐC KHỐI CNTT</div>
        <div>
          <button data-toggle="modal" data-target="#exampleModal" class="btn-verify mt-2"><i class="fas fa-shield-alt"></i> Xác thực</button>
        </div>
      </div>
      <div class="col-6">
        <div class="text-black">BÊN GIAO</div>
        <div class="text-bold">B. NGUYỄN ĐỨC THẠCH DIỄM</div>
        <div class="text-bold">TỔNG GIÁM ĐỐC</div>
        <div>
          <button class="btn-verify mt-2"><i class="fas fa-shield-alt"></i> Xác thực</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="text-bold">Vui lòng xác thực khuôn mặt</div>
        <video #video id="video" width="720" height="560" autoplay muted></video>
      </div>
    </div>
  </div>
</div>
